<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-4.2.xsd">

<!--    <bean id="passwordEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"/>-->


    <security:http security="none" pattern="/login.html"/>
    <security:http security="none" pattern="/index.jsp"/>

    <!-- 设置静态资源不过滤 -->
    <security:http pattern="/bootstrap/**" security="none"/>
    <security:http pattern="/custom/**" security="none"/>
<!--    <security:http pattern="/images/**" security="none"/>-->
<!--    <security:http pattern="/js/**" security="none"/>-->



    <!-- use-expressions:Spring 表达式语言配置访问控制 -->
    <security:http auto-config="true" use-expressions="false">
        <security:csrf disabled="true" />
        <!-- 配置权限拦截，访问所有url，都需要用户登录，且拥有ROLE_USER权限 -->
        <security:intercept-url pattern="/**" access="ROLE_USER" />
        <security:form-login login-page='/index.jsp'
                             login-processing-url="/login.do"
                             authentication-failure-forward-url="/login.fail"
                    default-target-url="/homepage.html"
                    authentication-failure-url="/login.html?error=true" />
        <security:logout logout-success-url="/login.html" />
    </security:http>



    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider user-service-ref="userService">
            <!-- 配置加密方式 -->
        <!-- <security:password-encoder>-->
        </security:authentication-provider>

    </security:authentication-manager>

</beans>
